{% extends 'admin/base.html.twig' %}

{% block title %}Emprunts index{% endblock %}

{% block body %}
	<h1>Emprunts </h1>

	<table class="table">
		<thead>

			<tr>
				<th>Id</th>
				<th>Pseudo</th>
				<th>Titre</th>
				<th>Date_emprunt</th>
				<th>Date_retour</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for emprunt in emprunts %}
				<tr>
					<td>{{ emprunt.id }}</td>
					<td>{{ emprunt.abonne.pseudo }}</td>
					<td>{{ emprunt.livre.titre ~ " - " ~ emprunt.livre.auteur }}</td>
					<td>{{ emprunt.dateEmprunt|date('d/m/y') }}</td>
					<td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d/m/y') : '' }}</td>
					<td>
						<a href="{{ path('emprunt_show', {'id': emprunt.id}) }}">
							<i class="fa fa-book"></i>
						</a>
						<a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}">
							<i class="fa fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun emprunt enregistré</td>
				</tr>
			{% endfor %}

			<table class="table">
				<thead>
					<tr>
						<th colspan="6">Emprunts non rendus</th>
					</tr>
				</thead>
				<tbody>
					{% for emprunt in emprunts_non_rendus %}
						<tr>
							<td>{{ emprunt.id }}</td>
							<td>{{ emprunt.abonne.pseudo }}</td>
							<td>{{ emprunt.livre.titre ~ " - " ~ emprunt.livre.auteur }}</td>
							<td>{{ emprunt.dateEmprunt|date('d/m/y') }}</td>
							<td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d/m/y') : '' }}</td>
							<td>
								<a href="{{ path('emprunt_show', {'id': emprunt.id}) }}">
									<i class="fa fa-book"></i>
								</a>
								<a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</tbody>
	</table>
	<a href="{{ path('emprunt_new') }}" class="btn btn-primary">Nouvel emprunt</a>
{% endblock %}
